@inject NavigationManager NavigationManager

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @if (context.User.Identity is {IsAuthenticated: false })
                    {
                        <RedirectToLogin LoginPageUrl="/Login" />
                    }
                    else
                    {
                        <h1 class="text-danger">Access Denied</h1>
                        <p class="text-danger">You do not have access to this resource.</p>
                        <p>Claims count @context.User.Claims.Count()</p>
                        foreach (var claim in context.User.Claims)
                        {
                            <p>@claim.Type - @claim.Value</p>
                        }
                    }
                </NotAuthorized>
                <Authorizing>
                    <h1 class="text-warning">Authorization in progress</h1>
                </Authorizing>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
