@using System.ComponentModel
@namespace Logistics.Blazor.Grids
@typeparam TData

<CascadingValue IsFixed="true" Value="this">@Columns</CascadingValue>

<table class="grid table table-bordered table-hover">
    <thead>
        <tr class="grid-header-row bg-light">
            @for (var i = 0; i < columns.Count; i++)
            {
                var column = columns[i];
                var columnWidth = column.Width != null ? $"min-width: {column.Width}px; wdith: {column.Width}px" : "";

                if (AllowSorting)
                {
                    <th style="@columnWidth" @onclick="() => Sort(column)">
                        <span>
                            @column.HeaderTemplate
                            @if (column.SortDirection == SortDirection.Ascending)
                            {
                                <i class="bi bi-arrow-up"></i>
                            }
                            else if (column.SortDirection == SortDirection.Descending)
                            {
                                <i class="bi bi-arrow-down"></i>
                            }
                        </span>

                    </th>
                }
                else
                {
                    <th style="@columnWidth">
                        @column.HeaderTemplate
                    </th>
                }
            }
        </tr>
    </thead>

    <tbody>
        @if (DataSource == null || !DataSource.Any())
        {
            <tr>
                <td colspan="@columns.Count">
                    <span>No records to display</span>
                </td>
            </tr>
        }
        else
        {
            foreach (var item in DataSource)
            {
                if (item == null)
                {
                    continue;
                }
                <tr @key="item.GetHashCode()" class="grid-body-row">
                    @for (var i = 0; i < columns.Count; i++)
                    {
                        var column = columns[i];
                        var borderCls = UseBorderlessCells && i != columns.Count - 1 ?
                        "border-right-none" : "";

                        <td class="@borderCls">
                            @column.CellTemplate(item)
                        </td>
                    }
                </tr>
            }
        }
    </tbody>
</table>
