@page "/edit-load/{id?}"
@attribute [Authorize(Roles = "admin,owner,manager,dispatcher")]
@inherits ViewComponentBase<EditLoadViewModel>

@{
    var headText = Model.EditMode ? "Edit" : "Add a new";
    var submitBtnText = Model.EditMode ? "Save" : "Submit";
}
<h2>@headText Load</h2>
<hr />
<div class="row">
    <div class="col-12 col-md-10 col-lg-8 col-xl-6">
        <div class="card">
            <div class="card-body">
                @if (!string.IsNullOrEmpty(Model.Error))
                {
                    <p class="text-danger">@Model.Error</p>
                }

                <Spinner IsBusy="Model.IsBusy"
                         Label="@Model.BusyText"
                         LabelAlign="Spinner.Align.Left"
                         Size="2">
                </Spinner>

                <EditForm Model="Model.Load" OnValidSubmit="() => Model.UpdateAsync()">
                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <InputText id="name" class="form-control" @bind-Value="Model.Load.Name" />
                    </div>
                    
                    <div class="mb-3">
                        <label for="source" class="form-label">Source Address</label>
                        <InputText id="source" class="form-control" @bind-Value="Model.Load.SourceAddress" />
                    </div>
                    <div class="mb-3">
                        <label for="destination" class="form-label">Destination Address</label>
                        <InputText id="destination" class="form-control" @bind-Value="Model.Load.DestinationAddress" />
                    </div>
                    <div class="mb-3">
                        <label for="pickupDate" class="form-label">Pick Up Date</label>
                        <InputDate id="pickupDate" class="form-control" @bind-Value="Model.Load.PickUpDate" />
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">Price Per Mile</label>
                        <div class="input-group">
                            <span class="input-group-text">$$</span>
                            <InputNumber id="price" class="form-control" @bind-Value="Model.Load.PricePerMile"
                                         min="@CargoConsts.MinPricePerMile"
                                         max="@CargoConsts.MaxPricePerMile" />
                        </div>

                    </div>
                    <div class="mb-3">
                        <label for="totalTrip" class="form-label">Total Trip Miles</label>
                        <div class="input-group">
                            <span class="input-group-text">mi</span>
                            <InputNumber id="totalTrip" class="form-control" @bind-Value="Model.Load.TotalTripMiles"
                                         min="@CargoConsts.MinTripMiles"
                                         max="@CargoConsts.MaxTripMiles" />
                        </div>
                    </div>
                    @if (Model.EditMode)
                    {
                        <div class="mb-3">
                            <label for="completed" class="form-check-label">Is Completed</label>
                            <InputCheckbox id="completed" class="form-check-input mt-0 ms-1" @bind-Value="Model.Load.IsCompleted" />
                        </div>
                    }
                    <div class="mb-3">
                        <label for="dispatcher" class="form-label">Assigned Dispatcher</label>
                        <input id="dispatcher" class="form-control" type="text" value="@Model.Load.AssignedDispatcherName" readonly />
                    </div>
                    <div class="mb-3">
                        <label for="driver" class="form-label">Assigned Truck</label>
                        <AutoComplete Id="driver" @bind-Value="Model.Load.AssignedTruckId" OnInputChanged="Model.SearchTruck" Placeholder="Type the driver name"></AutoComplete>
                    </div>
                    <div class="mb-3">
                        <label for="status" class="form-label">Status</label>
                        <InputSelect id="status" class="form-control" @bind-Value="Model.Load.Status">
                            @foreach (var enumType in LoadStatuses.GetValues())
                            {
                                <option value="@enumType.Value">@enumType.DisplayName</option>
                            }
                        </InputSelect>
                    </div>
                    <div class="mt-3">
                        <button class="btn btn-primary" type="submit">
                            <i class="bi bi-pencil-square"></i> @submitBtnText
                        </button>
                        <NavLink class="btn btn-primary" href="/list-load">
                            <i class="bi bi-arrow-left-square"></i> Back
                        </NavLink>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string? Id { get; set; }
}
