@namespace Logistics.Blazor

@{
    var id = string.IsNullOrEmpty(Id) ? GetId() : Id;
    var optionsId = $"{id}_options";
}

<input id="@id"
    class="form-control" 
    list="@optionsId" 
    value="@Value"
    placeholder="@Placeholder"
    autocomplete="off"
    @attributes="AdditionalAttributes" 
    @oninput="OnInputChangedHandler"
    @onchange="(e) => OnClickOption(e.Value?.ToString())"/>

<datalist id="@optionsId">
    @foreach (var item in _items)
    {
       <option value="@item.DisplayName"></option>
    }
</datalist>
