@namespace Logistics.Blazor

<div class="progress @CssClass">
    <div class="progress-bar bg-success"
         role="progressbar"
         style="width: @GetPercentage()%"
         aria-valuenow="@GetPercentage()"
         aria-valuemin="@MinValue"
         aria-valuemax="@MaxValue">
    </div>
</div>
